.link-names{
position: absolute;
flex-direction: column;
width: 492px;
height: 247px;
left: 1200px;
top: 900px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
display: flex;
color: #323232;
}

li{
    display: flex;
    text-decoration: none;
    text-align: right;
}