.link-names{
position: absolute;
width: 492px;
height: 247px;
left: 878px;
top: 689px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
display: flex;
align-items: center;
text-align: right;

color: #323232;
}